{% extends 'base.html' %}

{% block contents %}
    <div class="container">
        <h1>{{board}}</h1>
        <table class="table table-hover">
            <tr>
                <td>Num</td>
                <td>Title</td>
                <td>Writer</td>
                <td>Date</td>
                <td>Hit</td>
            </tr>
        {% for board in list %}
            <tr>
                <td>{{board.num}}</td>
                <td>{{board.title}}</td>
                <td>{{board.writer}}</td>
                <td>{{board.createDate}}</td>
                <td>{{board.hit}}</td>
            </tr>
        {% endfor %}
        </table>

        <ul class="pagination pagination-sm">
            {% if pager.pre %}
            <li><a href="../{{pager.startNum}}">prev</a></li>
            {% endif %}

            {% for i in pager.range %}
            <li><a href="../{{i}}">{{i}}</a></li>
            {% endfor %}

            {% if pager.next %}
            <li><a href="../{{pager.lastNum}}">next</a></li>
            {% endif %}
          </ul>

    </div>
{% endblock contents %}
